beautifulsoup4
Keras
Keras-Applications
Keras-Preprocessing
langdetect
matplotlib
numpy
numpydoc
pandas
plotly
regex
seaborn
snowballstemmer
spacy
tensorboard
tensorflow
unicodecsv
Unidecode
ipykernel
ipywidgets
jupyter
nltk
contractions
wordcloud
scikit-learn
tqdm
streamlit
